<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="CanonicalHostNameRule">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^localhost$" negate="true"/>
            <add input="{HTTP_HOST}" pattern="^threemammals-staging\.azurewebsites\.net$" negate="true"/>
            <add input="{HTTP_HOST}" pattern="^threemammals\.com$" negate="true"/>
            <add input="{HTTP_HOST}" pattern="^threemammals\.co\.uk$" negate="true"/>
          </conditions>
          <action type="Redirect" url="http://threemammals.com/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\ThreeMammals.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" />
  </system.webServer>
</configuration>
