@page
@{
    ViewData["Title"] = "Ocelot";
}

<a href="https://github.com/ThreeMammals/Ocelot"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<nav class="white" role="navigation">
    <div class="nav-wrapper container">
@*
        <a id="logo-container" href="#" class="brand-logo">Logo</a>
*@

        @*<ul class="right hide-on-med-and-down">
                <li><a href="#">Navbar Link</a></li>
            </ul>*@

        @*nav nothing to nav to atm*@
        @*<ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>*@
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <img src="~/images/ocelot_logo.png" alt="Unsplashed background img 1" class="center ocelot-logo">
                <br><br/>
                <h5 class="header col s12 dark">Open Source .NET Core API Gateway</h5>
            </div>
            <div class="row center">
                <a href="http://ocelot.readthedocs.io/en/latest/introduction/gettingstarted.html" id="download-button" class="btn-large waves-effect waves-light blue">Get Started</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="~/images/background0.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Big Picture</h5>

                    <p class="light">
                        Ocleot is aimed at people using .NET running a micro services / service orientated architecture that need a unified point of entry into their system.
                        Ocelot is fast, scaleable and provides authentication, routing, request aggregation among many other features.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Open Source</h5>

                    <p class="light">
                        Ocelot is open source first. We make all features available to any user who wants to host the API gateway whether in a single node or a clustered environment.
                        Our priority is to build a sustainable vibrant community for the future.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>

                    <p class="light">
                        We have provided detailed documentation as well as specific code examples to help new users get started.
                        We are also always open to feedback and can answer any questions a user may have about Ocelot.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 black-text">A modern fast, scalable API gateway built on asp.net core</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/images/background6.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Customers</h4>
                <a href="https://customers.microsoft.com/en-us/story/tencent-telecommunications-dotnetcore"><img src="~/images/tencent.jpg" alt="Tencent"></a>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 black-text">A modern fast, scalable API gateway built on asp.net core</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/images/background5.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Bio</h5>
                <p class="grey-text text-lighten-4">
                    We are a team of professional software engineers working on this project in our spare time.
                    Any help or support is greatly appreciated.
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/ThreeMammals/Ocelot">GitHub</a></li>
                    <li><a class="white-text" href="http://ocelot.readthedocs.io/en/latest/">Documentation</a></li>
                    <li><a class="white-text" href="https://www.nuget.org/packages/Ocelot/">NuGet</a></li>
                    <li><a class="white-text" href="https://ci.appveyor.com/project/TomPallister/ocelot-fcfpb">AppVeyor</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a href="mailto:tom@threemammals.com" class="white-text">Email</a></li>
                    <li><a class="white-text" href="https://www.linkedin.com/company/threemammals/">LinkedIn</a></li>
                    <li><a class="white-text" href="https://twitter.com/ThreeMammals">Twitter</a></li>
                        @*<li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>&copy; 2018 - ThreeMammals</p>
        </div>
    </div>
</footer>
